<h1>졸업조건 변경 요청</h1>
<br>
<%= simple_form_for @suggestion, url: suggestions_path, method: :post, html: { class: 'form' }, validate: true do |f| %>
  <%= f.hidden_field :user, value: current_user.id %>
  <%= f.input :title, label: "제목", error: '올바른 제목을 입력해주세요' %><br>
  <%= f.input :content, label: false, as: :text, error: '올바른 내용을 입력해주세요', :input_html => {:class => "tinymce", :rows => 15, :cols => 80} %><br>
  <%= f.submit class: "btn btn-secondary" %>
<%end%>
<%= tinymce %>