<!DOCTYPE html>
<head>
  <title>한국외대 졸업조건</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!--  <link rel="apple-touch-icon" href="single-page-icon.png">-->
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-title" content="Graduation">
</head>
<body>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>
  <%= render 'layouts/footer'%>

</body>
</html>
