<!DOCTYPE html>
<head>
  <title>한국외대 졸업조건</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= render 'layouts/header' %>
  <% if notice %>
    <p class="alert alert-notice" style="color:#c09853;"><%= notice %></p-->
  <% end %>
  <% if alert %>
    <p class="alert alert-error" style="color:#b94a48;"><%= alert %></p>
  <% end %>
    <div class="container">
      <%= yield %>
    </div>
  <%= render 'layouts/footer'%>

</body>
</html>
